.main-body{
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    width: 96%;
    height: 90vh;
    position: relative;
    
}
.messages-table-container{
    height: 80vh;
    width:100%;
}

table{
    
    display: flex;
    flex-direction: column;
}

.tr-tag{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden; 
    padding: .3em;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
}

.tr-tag:hover {
  box-shadow: 0 2px 7px rgba(0,0,0,0.3);
  background: #fafafa;
}

input{
    margin: 0 2px;
}

.email{
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    color: var(--blackText);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    width: 300px;
    flex-shrink: 0;
}

.subject{
    font-size: 1rem;
    color: var(--blackText);
    font-weight: 500;
    flex-shrink: 0;
    padding-right: 10px;
    white-space: nowrap;
    margin-left: 6em;
}

.message{
    color: var(--quinary-color);
    flex: 1;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;
}